{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div id="left" style="float: left; width: 50%; overflow: hidden;">
<h1 style="text-align: center;">Your Listings to CNB</h1>

<table border="1" style="background-color: rgb(100,240,100)">
<tr>
  <th>Name</th>
  <th>Date/Time</th>
  <th>Occupancy</th>
  <th>Mobile</th>
  <th>Actions</th>
</tr>
{% for row in obj_cnb %}
<tr style="text-align: center;">
  <td>{{ row.name }}</td>
  <td>{{ row.datetime }}</td>
  <td>{{ row.occupancy }}</td>
  <td>{{ row.phoneNumber }}</td>
  <td style="text-align: center;"> <form action="showMembersCNB" id="showMembers" name="showMembers" method="POST">
  {% csrf_token %}
  {{ form }}
  <br>
  <input type="submit" name="viewMembersCNB" value="View Members"><br><br>
  <input type="submit" name="leave_cnb" value="Leave Group">
  <input type="text" name="numberlisting1" id="numberlisting1" value={{ row.phoneNumber }} style="visibility: hidden; display: none">
  <input type="text" name="userPhone1" id="userPhone1" value={{ number }} style="visibility: hidden; display: none">
</form></td>
  
</tr>
{% endfor %}
</table>

<div style="bottom: 300; position : absolute;">
<table border="1" style="background-color: rgb(100,240,100);">
<tr style="text-align: center;">
  <th>Name</th>
  <th>Mobile</th>
</tr>
  {% for row in cnb_users %}
<tr style="text-align: center;">
  <td>{{ row.userName }}</td>
  <td>{{ row.userPhone }}</td>
  </tr>
  {% endfor %}
</table>
</div>


</div>



<div id="left" style="float: left; width: 50%; overflow: hidden;">
<h1 style="text-align: center;">Your Listings to Campus</h1>

<table border="1" style="background-color: rgb(100,240,100);">
<tr>
  <th>Name</th>
  <th>Date/Time</th>
  <th>Occupancy</th>
  <th>Mobile</th>
  <th>Actions</th>
</tr>
{% for row in obj_cmps %}
<tr style="text-align: center;">
  <td>{{ row.name }}</td>
  <td>{{ row.datetime }}</td>
  <td>{{ row.occupancy }}</td>
  <td>{{ row.phoneNumber }}</td>
  <td> <form action="showMembersCampus" id="showMembers" name="showMembers" method="POST">
  {% csrf_token %}
  {{ form }}
  <br>
  <input type="submit" name="viewMembersCampus" value="View Members"><br><br>
  <input type="submit" name="leave_cmps" value="Leave Group">
  <input type="text" name="numberlisting2" id="numberlisting2" value={{ row.phoneNumber }} style="display: none">
  <input type="text" name="userPhone2" id="userPhone2" value={{ number }} style="display: none">
  
</form></td>
  
</tr>
{% endfor %}
</table>

<div style="position: absolute; bottom: 300">
<table border="1" style="background-color: rgb(100,240,100); text-align: center;">
<tr>
  <th>Name</th>
  <th>Mobile</th>
</tr>
  {% for row in cmps_users %}
<tr>
  <td>{{ row.userName }}</td>
  <td>{{ row.userPhone }}</td>
  </tr>
  {% endfor %}
</table>
</div>

</div>
{% endblock %}