{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}



<body>

<div id="left" style="float: left; width: 50%; overflow: hidden;">
<h1 style="text-align: center;"> Search Auto Tempo Listings</h1>

<form action="/showlist" id="showlist" name="showlist" method="post">
	{% csrf_token %}
	{{ infoForm }}
	<br><br>
	<input type="submit" value="Search">
</form>

</div>


<div id="right" style="float: left; width: 25%; overflow: hidden;">
<h1>Check your Listings</h1>
<form action="/userlist" id="phone" name="phone" method="post">
	{% csrf_token %}
	{{ phoneForm }}
	<br>
    <input type="submit" value="OK">
</form>

</script>
</div>
</body>
{% endblock %}