<!DOCTYPE html>
<html>

<body>

<div id="left" style="float: left; width: 75%; overflow: hidden;">
<h2> Wish to Share</h2>

<form>
  <label for="campus">To Campus</label>
  <input type="radio" name="campus" id="campus" value="campus"><br>

  <label for="CNB">To CNB</label>
  <input type="radio" name="CNB" id="CNB" value="CNB"><br>

  <input type="submit" value="Submit">
</form>

</div>


<div id="right" style="float: left; width: 25%; overflow: hidden;">
<h2>Check your Listings</h2>
<form action="" id="phone" name="phone" method="post">
    <label for="phoneNumber">Enter your phone number: </label>
    <input id="phoneNumber" type="number" name="phoneNumber">
    <input type="submit" value="OK">
</form>

</script>
</div>
</body>
</html>