<!DOCTYPE html>
<html>

<body>

<div id="left" style="float: left; width: 75%; overflow: hidden;">
<h2> Wish to Share</h2>

<form action="/showlist" id="showlist" name="showlist" method="post">
	{% csrf_token %}
	{{ infoForm }}
</form>

</div>


<div id="right" style="float: left; width: 25%; overflow: hidden;">
<h2>Check your Listings</h2>
<form action="/userlist" id="phone" name="phone" method="post">
	{% csrf_token %}
	{{ phoneForm }}
    <!-- <label for="phoneNumber">Enter your phone number: </label> -->
    <!-- <input id="phoneNumber" type="number" name="phoneNumber"> -->
    <input type="submit" value="OK">
</form>

</script>
</div>
</body>
</html>