{% extends "base.html" %}

{% block title %}{{ header }}{% endblock %}

{% block content %}


<table>
<tr>
  <th>Name</th>
  <th>datetime</th>
  <th>occupancy</th>
  <th>phoneNumber</th>
</tr>
{% for row in obj %}
<tr>
  <td>{{ row.Name }}</td>
  <td>{{ row.datetime }}</td>
  <td>{{ row.occupancy }}</td>
  <td>{{ row.phoneNumber }}</td>

 <td> <form action="addtolist" id="addMe" name="addMe" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="text" name="numberlisting" id="numberlisting" value={{ row.phoneNumber }}>
  <input type="text" name="header" id="header" value={{ header }}>
  <input type="submit" value="Add Me">
</form></td>
<!-- <script>
  function populate(){
    document.getElementsByName("numberlisting")[0].value = {{ row.phoneNumber }}.toString()
    document.getElementsByName("header")[0].value = {{ header }}.toString()
  }
  document.getElementById('addMe').load();
</script> -->
</tr>
{% endfor %}
</table>

<form action="/goToCreateListing">
  Willing To Share !!<br><input type="submit" value="Create Post">
</form>

{% endblock %}