{% extends "base.html" %}

{% block title %}{{ header }}{% endblock %}

{% block content %}
<div style="width:500px; margin:0 auto;">

<table border="1" style="background-color: rgb(100,240,100);">
<tr style="text-align: center;">
  <th>Name</th>
  <th>Date/Time</th>
  <th>Occupancy</th>
  <th>Mobile</th>
</tr>
{% for row in obj %}
<tr style="text-align: center;">
  <td>{{ row.Name }}</td>
  <td>{{ row.datetime }}</td>
  <td>{{ row.occupancy }}</td>
  <td>{{ row.phoneNumber }}</td>

 <td> <form action="addtolist" id="addMe" name="addMe" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="text" name="numberlisting" id="numberlisting" value={{ row.phoneNumber }}>
  <input type="text" name="header" id="header" value={{ header }}>
  <input type="submit" value="Add Me">
</form></td>
  <td> <form action="showMembers" id="showMembers" name="showMembers" method="POST">
  {% csrf_token %}
  <input type="text" name="numberlisting1" id="numberlisting1" value={{ row.phoneNumber }}>
  <input type="text" name="header" id="header" value={{ header }}>
  <input type="submit" value="View Members">
</form></td>
</tr>
{% endfor %}
</table>

<div style="bottom: 200; position : absolute;">
<form action="/goToCreateListing">
  <h1>Create a new post<br></h1><input type="submit" value="Create">
</form>
</div>
</div>
{% endblock %}
